<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkHub</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Bem-vindo ao LinkHub!</h1>
    <p>Visite meu perfil: <a href="/seuusuario">aqui</a></p>
  </body>
</html>
